mat-icon {
  vertical-align: middle;
}

button {
  vertical-align: middle;
}

.drop-box {
  border: dashed 2px;
  border-radius: 20px;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}