<div *ngIf="!filesReady" class="drop-box">
  <span>
    <button mat-mini-fab class="upload-button" (click)="fileUpload.click()">
      <mat-icon>file_upload</mat-icon>
    </button>
    <input #fileUpload type="file" (change)="filesPicked($event)" [hidden]="true" accept=".ips,.mra,.zip" multiple />
    &nbsp; or drag files here
  </span>
</div>
<br />
<div *ngIf="error">
  <span class="error">{{ error }}</span>
</div>
<br />
<div *ngFor="let file of files; let i = index">
  <span *ngIf="file">
    <button mat-mini-fab (click)="fileDeleted(i)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-icon>
      &nbsp;{{ file.name.endsWith('.zip') ? 'folder_zip' : 'text_snippet' }}
    </mat-icon>&nbsp;&nbsp;{{ file.name.length > 30 ? (file.name | slice:0:30) + '...' + (file.name | slice:file.name.length - 3:file.name.length) : file.name }}
  </span>
</div>
<br />
<div *ngIf="filesReady">
  <button mat-raised-button color="primary" (click)="commitFiles()">Upload Files</button>
</div>
<br />