<mat-stepper #stepper orientation="vertical" linear style="max-width:700px;">
  <mat-step [stepControl]="operationForm" [editable]="false">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Select operation</ng-template>
      <mat-label>What would you like to do?</mat-label>
      <mat-radio-group class="radio-group" formControlName="operation">
        <mat-radio-button *ngFor="let operation of operations" [value]="operation" labelPosition="after"><div [innerHTML]="config.operations[operation].labelHtml"></div></mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-raised-button matStepperNext [disabled]="!operationForm.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fileDropperForm" [editable]="false">
    <form [formGroup]="fileDropperForm">
      <ng-template matStepLabel>Upload files</ng-template>
      <div>
        <p>{{ config.operations[operationForm.get('operation')?.value || 'to_mame'].helpText }}</p>
      </div>
      <mat-spinner *ngIf="processing"></mat-spinner>
      <cps2-file-dropper
        [hidden]="processing"
        formControlName="fileDropper"
        (filesAdded)="filesAdded($event)"
        [externalError]="gotFileProcessingError.asObservable()"
        [config]="config.operations[operationForm.get('operation')?.value || 'to_mame'].dropperConfig"
      >
      </cps2-file-dropper>
    </form>
    <div>
      <button mat-raised-button matStepperNext [disabled]="!fileDropperForm.valid || processing">Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Do operation</ng-template>
    <mat-spinner *ngIf="processing"></mat-spinner>
    <button
      mat-raised-button
      color="primary"
      *ngIf="config.operations[operationForm.get('operation')?.value || 'to_mame'].operationButtonText && !processing"
      (click)="performOperation()"
    >
      {{ config.operations[operationForm.get('operation')?.value || 'to_mame'].operationButtonText }}
    </button>&nbsp;
    <button mat-raised-button *ngIf="downloadLink" color="primary" (click)="download.click()">Download</button>
    <a [href]="downloadLink" [hidden]="true" [download]="outputFilename" #download></a>
    <br />
    <br />
    <button mat-raised-button matStepperNext>Next</button>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Reset</ng-template>
    <button mat-raised-button (click)="stepper.reset()">Start over</button>
  </mat-step>
</mat-stepper>
