<mat-stepper #stepper orientation="vertical" linear style="max-width:700px;">
  <mat-step [stepControl]="operationForm" [editable]="false">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Select operation</ng-template>
      <mat-label>What would you like to do?</mat-label>
      <mat-radio-group class="radio-group" formControlName="operation">
        <mat-radio-button value="to_mame">Patch MAME <mat-icon>arrow_right_alt</mat-icon> MAME with <code>.mra</code></mat-radio-button>
        <!-- <mat-radio-button value="to_darksoft">Patch MAME <mat-icon>arrow_right_alt</mat-icon> Darksoft with <code>.mra</code></mat-radio-button> -->
        <!-- <mat-radio-button value="ips_to_mra">Convert <code>.ips</code> <mat-icon>arrow_right_alt</mat-icon> <code>.mra</code></mat-radio-button> -->
        <!-- <mat-radio-button value="mra_to_ips">Convert <code>.mra</code> <mat-icon>arrow_right_alt</mat-icon> <code>.ips</code></mat-radio-button> -->
      </mat-radio-group>
      <div>
        <button mat-button matStepperNext [disabled]="!operationForm.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fileDropperForm" [editable]="false">
    <form [formGroup]="fileDropperForm">
      <ng-template matStepLabel>Upload files</ng-template>
      <mat-spinner *ngIf="processing"></mat-spinner>
      <cps2-file-dropper
        [hidden]="processing"
        formControlName="fileDropper"
        (filesAdded)="filesAdded($event)"
        [externalError]="gotFileProcessingError.asObservable()"
        [config]="dropperConfigs[operationForm.get('operation')?.value || 'to_mame']"
      >
      </cps2-file-dropper>
    </form>
    <div>
      <button mat-button matStepperNext [disabled]="!fileDropperForm.valid || processing">Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Do operation</ng-template>
    <mat-spinner *ngIf="processing"></mat-spinner>
    <button mat-raised-button color="primary" *ngIf="operationButtonText && !processing" (click)="performOperation()">{{ operationButtonText }}</button>&nbsp;
    <button mat-raised-button *ngIf="downloadLink" color="primary" (click)="download.click()">Download</button>
    <a [href]="downloadLink" [hidden]="true" [download]="outputFilename" #download></a>
    <br />
    <br />
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Reset</ng-template>
    <button mat-button (click)="stepper.reset()">Start over</button>
  </mat-step>
</mat-stepper>
