<h1 mat-dialog-title>Supported ROMs</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ROM name">ROM name</th>
      <td mat-cell *matCellDef="let rom">{{ rom.name }}</td>
    </ng-container>
    <ng-container matColumnDef="supported">
      <th mat-header-cell *matHeaderCellDef>Supported</th>
      <td mat-cell *matCellDef="let rom">{{ rom.supportsPatching }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-button (click)="close()" cdkFocusInitial>OK</button>
</div>
