<mat-toolbar color="primary">
  <div class="app-title-bar">
    <span>Dark Mr. Soft - CPS2 ROM Patcher</span>
    <span class="credit"><a href="https://github.com/MBDesu/DarkMrSoft" target="_blank"><mat-icon style="vertical-align:text-bottom;" svgIcon="github"></mat-icon>&nbsp;MBDesu</a></span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="app-content">
    <div>
      <p>If you find bugs, please open an issue in the repository linked in the
      top right of this page.</p>
      <p><strong>Note:</strong> this tool only works with encrypted, non-bootleg
      ROMs, except otherwise noted (<button mat-button color="primary"
      (click)="openSupportModal()">here</button> for a list of supported ROMs).
      Support for unencrypted ROM sets may be added in a future update.</p>
      <p><strong>Note:</strong> this utility does not patch non-executable
      regions of ROM today. This means that graphics and sound patches cannot be
      applied with this tool. This will change in a future update.</p>
      <p><strong>MAME users:</strong> if you use a patched ROM with MAME, you
      must load it from the command line. The CRC of the files will not match
      what MAME has and it will not load your ROM from the UI.</p>
      <p><strong>Darksoft users:</strong> if you use a patched ROM with
      Darksoft, ensure you have the latest firmware that supports key writing.
      Use <a
      href="https://www.arcade-projects.com/threads/cps2-multi-romset-generator.9425/"
      class="mat-accent">this</a> tool to convert the ROM to a format suitable
      for Darksoft (pay attention to <a
      href="https://www.arcade-projects.com/threads/cps2-multi-romset-generator.9425/page-2#post-288604">this</a>
      post as well), or you can patch a MAME ROM below and then convert the
      result to Darksoft format.</p>
      <p><strong>Note:</strong> if patching produces an <code>eeprom</code> file
      inside of the resulting <code>.zip</code>, it means the <code>.mra</code>
      file sets nvram (the test menu config). If you are on MAME, just extract
      this file in <code>&lt;mame installation&gt;/nvram/&lt;rom
      name&gt;/</code>. If you are on Darksoft, you will have to figure out what
      options are being set and set them manually.</p>
    </div>
    <br />
    @if (binaries.length) {
      <mat-slide-toggle [(ngModel)]="dumps">Display hex dumps</mat-slide-toggle>
    }
    <br />
    <br />
    @if (binaries.length && dumps) {
      <div>
      @for (binary of binaries; track binary) {
        <mat-expansion-panel class="hex-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ binary.title }}</mat-panel-title>
            <mat-panel-description>{{ binary.description }}</mat-panel-description>
          </mat-expansion-panel-header>
          <cps2-hexdump [binary]="binary.binary"></cps2-hexdump>
        </mat-expansion-panel>
      }
      </div>
    }
    <br />
    <cps2-wizard (gotBinary)="gotBinary($event)"></cps2-wizard>
  </mat-sidenav-content>
</mat-sidenav-container>