<mat-toolbar color="primary">
  <div class="app-title-bar">
    <span>Dark Mr. Soft - CPS2 ROM Patcher</span>
    <span class="credit"><a href="https://github.com/MBDesu/DarkMrSoft" target="_blank"><mat-icon style="vertical-align:text-bottom;" svgIcon="github"></mat-icon>&nbsp;MBDesu</a></span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="app-content">
    <div>
      <p>1. Upload a MAME ROM with its original filename and extension
      (<code>.zip</code>).</p>
      <p>2. Upload a <code>.mra</code> file.</p>
      <p>3. Click Apply Patch.</p>
      <p>4. Download the ROM and enjoy</p>
      <p>If you find bugs, please open an issue in the repository linked in the
      top right of this page.</p>
      <p><strong>MAME users:</strong> if you use a patched ROM with MAME, you must
      load it from the command line. The CRC of the files will not match what
      MAME has and it will not load your ROM from the UI.</p>
      <p><strong>Darksoft users:</strong> if you use a patched ROM with Darksoft, ensure
      you have the latest firmware that supports key writing. Use <a
      href="https://www.arcade-projects.com/threads/cps2-multi-romset-generator.9425/" class="mat-accent">this</a>
      tool to convert the ROM to a format suitable for Darksoft. Pay attention
      to <a
      href="https://www.arcade-projects.com/threads/cps2-multi-romset-generator.9425/page-2#post-288604">this</a>
      post as well.</p>
      <p><strong>Note:</strong> if this produces an <code>eeprom</code> file
      inside of the resulting <code>.zip</code>, it means the <code>.mra</code>
      file sets nvram (the test menu config). If you are on MAME, just extract
      this file in <code>&lt;mame installation&gt;/nvram/&lt;rom
      name&gt;/</code>. If you are on Darksoft, you will have to figure out what
      options are being set and set them manually.</p>
    </div>
    <br />
    <cps2-file-dropper [config]="fileDropperConfig" (filesAdded)="filesAdded($event)" *ngIf="!files.length"></cps2-file-dropper><br />
    <div *ngIf="error">{{ error }}</div>
    <mat-slide-toggle *ngIf="combinedEncryptedBinary.length" [(ngModel)]="dumps">Display hex dumps</mat-slide-toggle><br />
    <br />
    <ng-container *ngIf="filesUploaded">
      <!-- <label for="output">Output format</label>
      <mat-radio-group class="output-radio-group" name="output" [(ngModel)]="outputFormat">
        <mat-radio-button class="output-radio-button" value="mame">MAME</mat-radio-button>
        <mat-radio-button class="output-radio-button" value="darksoft">Darksoft</mat-radio-button>
      </mat-radio-group> -->
      <button mat-raised-button *ngIf="combinedEncryptedBinary.length && !isApplyingPatch && !appliedPatch" color="primary" (click)="applyPatch()">Apply Patch</button>&nbsp;
      <button mat-raised-button *ngIf="downloadLink" color="primary" (click)="download.click()">Download Patched ROM</button>&nbsp;
      <a [href]="downloadLink" [hidden]="true" [download]="zipFilename" #download></a>
      <mat-spinner *ngIf="isApplyingPatch"></mat-spinner>
      <br /><br />
      <mat-expansion-panel *ngIf="combinedEncryptedBinary.length && dumps" class="hex-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>ROM dump</mat-panel-title>
          <mat-panel-description>Unmodified, encrypted</mat-panel-description>
        </mat-expansion-panel-header>
        <cps2-hexdump [binary]="combinedEncryptedBinary"></cps2-hexdump>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="combinedDecryptedBinary.length && dumps" class="hex-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>ROM dump</mat-panel-title>
          <mat-panel-description>Unmodified, decrypted</mat-panel-description>
        </mat-expansion-panel-header>
        <cps2-hexdump [binary]="combinedDecryptedBinary"></cps2-hexdump>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel *ngIf="combinedDecryptedModifiedBinary.length && dumps" class="hex-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>ROM dump</mat-panel-title>
          <mat-panel-description>Modified, decrypted</mat-panel-description>
        </mat-expansion-panel-header>
        <cps2-hexdump [binary]="combinedDecryptedModifiedBinary"></cps2-hexdump>
      </mat-expansion-panel> -->
      <mat-expansion-panel *ngIf="combinedEncryptedModifiedBinary.length && dumps" class="hex-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>ROM dump</mat-panel-title>
          <mat-panel-description>Modified, encrypted</mat-panel-description>
        </mat-expansion-panel-header>
          <cps2-hexdump [binary]="combinedEncryptedModifiedBinary"></cps2-hexdump>
      </mat-expansion-panel>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>