<mat-toolbar color="primary" class="app-toolbar">
  <div class="app-title-bar">
    <span>Dark Mr. Soft - CPS2 ROM Patcher</span>
    <button mat-icon-button (click)="openHelpModal()"><mat-icon>help</mat-icon></button>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="app-content">
    @if (binaries.length) {
      <mat-slide-toggle [(ngModel)]="dumps">Display hex dumps</mat-slide-toggle>
      <br />
      <br />
    }
    @if (binaries.length && dumps) {
      <div>
      @for (binary of binaries; track binary) {
        <mat-expansion-panel class="hex-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ binary.title }}</mat-panel-title>
            <mat-panel-description>{{ binary.description }}</mat-panel-description>
          </mat-expansion-panel-header>
          <cps2-hexdump [binary]="binary.binary"></cps2-hexdump>
        </mat-expansion-panel>
      }
      </div>
    }
    <br />
    <cps2-wizard (gotBinary)="gotBinary($event)"></cps2-wizard>
  </mat-sidenav-content>
</mat-sidenav-container>
