.viewport {
  height: 400px;
}

.toolbar {
  display: flex;
  gap: 10px;
  height: 78px;
}

.toolbar-item {
  display: flex;
  height: 78px;
  margin-top: auto;
  margin-bottom: auto;
  place-content: center;
  align-items: center;
}